* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
  text-transform: uppercase;
}

header {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:not(:first-child) {
  margin-left: 16px;
  border-left: 1px solid;
  padding-left: 16px;
}

a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.main-section {
  display: flex;
  flex-direction: column;
}

.image-div {
  flex: 1 450px;
  background: url("images/nature.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-div h2 {
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-div button {
  text-transform: uppercase;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: #fff;
  color: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.text-div {
  text-align: center;
  padding-top: 20px;
  background-color: #f0f0f0;
  margin-top: 0;
}

.text-div pre {
  background-color: #f0f0f0;
}

.second-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
}

.row-div {
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 20px;
  background-color: #000;
  text-align: center;
  color: #fff;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
